.container {
  outline: 1px solid tomato;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;

  background-image: url("../../img/ellipse_top.png"),
    url("../../img//ellipse_bottom.png");
  background-repeat: no-repeat;
  background-position: right top, left bottom;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-top: 20px;
    padding-left: 85px;
    padding-right: 85px;
  }
}
