.error {
  color: red;
  font-size: 0.6rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
}

.form {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 540px;
  height: 615px;
  outline: 1px solid tomato;
}

.btnRegistration {
  background-color: rgb(36, 204, 167);
}

.btnRegistration:hover {
  background-color: rgba(36, 204, 167, 0.5);
}
