.table {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .tableHead {
    display: flex;
    align-items: center;
    width: 50%;
    height: 47px;
    text-align: left;
    font-family: Circe;
    font-size: 18px;
    line-height: 1.5;
  }

  .tableHead:not(:nth-child(n + 10)) {
    border-bottom: 1px solid #dcdcdf;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 280px;
    padding-left: 15px;
    padding-right: 20px;

    background-color: #ffffff;

    font-family: Circe;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 10px;
  }
  .row:not(:last-child) {
    margin-bottom: 10px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  }

  .row.cost {
    border-left: 5px solid #ff6596;
  }

  .row.income {
    border-left: 5px solid #24cca7;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 47px;
    text-align: right;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
  }

  .item:not(:last-child) {
    border-bottom: 1px solid #dcdcdf;
  }

  .item.cost {
    color: #ff6596;
  }

  .item.income {
    color: #24cca7;
  }
}

@media screen and (min-width: 768px) {
  .hometab {
    width: 688px;
    height: 58px;
    margin: auto;

    margin-top: -156px;
  }
  .table {
    margin: auto;
  }
  .headRow {
    width: 688px;
    height: 58px;
    left: 20px;
    right: 20px;
    top: 234px;
    background-color: #ffffff;
    border-radius: 30px;
    line-height: 1.5;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
  }

  .headData {
    display: flex;
    justify-content: center;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    width: 688px;
    height: 54px;
    padding: 15px 20px;

    font-family: Circe;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
  }
  .row:not(:last-child) {
    border-bottom: 1px solid #dcdcdf;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  }
  .item {
    display: flex;
    text-align: center;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  .item:nth-child(-n + 2) {
    justify-content: center;
  }

  .item:nth-child(n + 5) {
    justify-content: right;
  }

  .item.cost {
    color: #ff6596;
  }
  .item.income {
    color: #24cca7;
  }
}

@media screen and (min-width: 1280px) {
  .headRow {
    width: 700px;
    /* width: 700px;
    height: 58px;
    left: 495px;
    top: 46px;
    background-color: #ffffff;
    border-radius: 30px;
    line-height: 1.5;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px; */
  }
  .row {
    /* font-family: Circe;
    background-color: #ffffff;
    line-height: 1.5;
    padding: 15px 20px;
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    font-weight: 400;
    font-size: 16px;
    height: 54px; */
  }

  .row:not(:last-child) {
    /* border-bottom: 1px solid #dcdcdf;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6); */
  }
  .item {
    /* text-align: center;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000; */
  }
  .red {
    /* color: #ff6596; */
  }
  .blue {
    /* color: #24cca7; */
  }
}
