.navigation_icon,
.navigation_icon_dollar {
  fill: #6e78e8;
}

.active .navigation_icon {
  fill: #4a56e2;
}

.active .navigation_icon_dollar {
  fill: #4a56e2;
}

@media screen and (min-width: 1280px) {
  .navigation_container {
    margin-right: auto;
    margin-bottom: 30px;
  }

  .navigation_name_home {
    margin-bottom: 10px;
  }

  .navigation_icon_statistic {
    width: 18px;
    height: 18px;
  }
  .navigation_icon_home {
    width: 18px;
    height: 18px;
    margin-right: 23px;
  }
  .navigation_icon_statistic {
    width: 18px;
    height: 18px;
    margin-right: 23px;
  }
  .navigation_icon_dollar {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navigation_container {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .navigation_name_home {
    margin-bottom: 10px;
  }
  .navigation_activeLink {
    font-weight: bold;
  }
  .navigation_icon_statistic {
    width: 18px;
    height: 18px;
  }
  .navigation_icon_home {
    width: 18px;
    height: 18px;
    margin-right: 23px;
  }
  .navigation_icon_statistic {
    width: 18px;
    height: 18px;
    margin-right: 23px;
  }
  .navigation_icon_dollar {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation_link {
    display: flex;
    align-items: center;

    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }

  .active {
    display: flex;
    align-items: center;

    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }

  .navigation_icon {
    width: 18px;
    height: 18px;
    margin-right: 23px;
  }

  .dollar {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navigation_container {
    width: 280px;
    height: 60px;
    margin: auto;
  }

  .navigation_link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .active {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .navigation_nav {
    padding-top: 13px;
    display: flex;
    justify-content: space-evenly;
  }

  .navigation_icon {
    width: 38px;
    height: 38px;
  }

  .navigation_name_home {
    display: none;
  }
  .navigation_name_statistic {
    display: none;
  }
  .navigation_icon_dollar {
    width: 38px;
    height: 38px;
  }

  .active .navigation_icon_dollar {
    fill: #4a56e2;
  }
}
