@media screen and (min-width: 1280px) {
  .navigation_container {
    width: 1280px;
    height: 80px;
    margin: auto;
  }
  .navigation_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
  }
  .navigation_header_wallet {
    display: block;
    margin-left: 85px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .navigation_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #bdbdbd;
    margin-right: 85px;
  }

  .navigation_header_title {
    margin-right: 14px;
    color: #bdbdbd;
  }
  .navigation_header_logout {
    color: #bdbdbd;
    border: none;

    background-color: white;
  }
  .navigation_icon_wallet {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  .navigation_icon_button_exit {
    /* margin-right: 10px; */
    border: none;
    background-color: white;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navigation_container {
    width: 768px;
    height: 80px;
    margin: auto;
  }
  .navigation_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
  }
  .navigation_header_wallet {
    display: block;
    margin-left: 62px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .navigation_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #bdbdbd;
    margin-right: 28px;
  }
  .navigation_header_title {
    margin-right: 14px;
    color: #bdbdbd;
  }
  .navigation_header_logout {
    color: #bdbdbd;
    border: none;

    background-color: white;
  }
  .navigation_icon_wallet {
    width: 40px;
    height: 40px;
    margin-left: 13px;
    margin-right: 20px;
  }
  .navigation_icon_button_exit {
    /* margin-right: 10px; */
    border: none;
    background-color: white;
  }
}
@media screen and (max-width: 767px) {
  .navigation_container {
    width: 320px;
    height: 86px;
    margin: auto;
  }
  .navigation_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
  }
  .navigation_header_wallet {
    display: block;
    margin-left: 13px;
    margin-right: 53px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .navigation_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #bdbdbd;
  }

  .navigation_header_title {
    margin-right: 10px;
    color: #bdbdbd;
  }
  .navigation_header_logout {
    display: none;
  }
  .navigation_icon_wallet {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .navigation_icon_button_exit {
    /* margin-right: 10px; */
    border: none;
    background-color: white;
  }
}
