.container {
  position: relative;
  display: flex;
  justify-content: center;
}

.title {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 340px;
    background-image: url("../../img/wallet-auth-image.svg");
    background-repeat: no-repeat;
    background-position: 10% 40px;
    background-size: 250px;
  }

  .title {
    display: block;
    position: absolute;
    top: 140px;
    right: 150px;
    margin: 0;
  }
}
