.container {
  padding: 110px 20px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.title {
  font-family: Poppins;
  font-size: 18px;
  margin-left: 16px;
}
