.react-datepicker__input-container::after {
  position: absolute;
  content: url('../../img/calendar.svg');
  transform: translateY(50px) translateX(-25px);
}

.react-datepicker__input-container:focus {
  outline: none;
}

.react-datepicker-wrapper {
  display: block;
}
.react-datepicker {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  color: #000;
  height: 34px;
  width: 240px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.react-datepicker__month-container {
  background-color: #e9f3ee8a;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
}

.react-datepicker__day--today,
.react-datepicker__day--selected {
  background-color: #ff6596;
}

.react-datepicker__day--selected:hover {
  background-color: #ff6596;
}

.datepicker__container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.datepicker {
  position: relative;
  border: 0;
  padding: 0;
  margin-bottom: 5px;
  width: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  outline: none;
  color: #bdbdbd;
  background: inherit;
}

.datepicker:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .datepicker__container {
    margin-right: 33px;
  }
  .react-datepicker {
    height: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .datepicker__container {
    margin-right: 23px;
  }
}
