.formWraper{
  width: 320px;
  display: flex;
  flex-flow: column;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

}

.header{
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

}
.hText {
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}
.inputGroup{
  display: flex;
  flex-direction: column;
  /* margin-top: 40px; */
}
/* The switch - the box around the slider */
.switchWraper {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;

}
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  border: 1px solid #E0E0E0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  /* left: 4px; */
  /* bottom: 2px; */
  border-radius: 50%;
  background-color:#24CCA7;
  background-image: url("../../img/plus.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* -webkit-transition: .4s;
  transition: .4s; */
}

.sliderInput{
  /* display: none; */
  appearance: none;
}

.sliderInput:checked + .slider:before {
  transform: translateX(40px);
  background-color: #FF6596;
  background-image: url("../../img/minus.png");
}


.income {
  color:#24CCA7;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.cost {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #E0E0E0;
}
 /* validate errors */
 .error{
   width: fit-content;
   /* border: 1px solid #E0E0E0; */
   padding: 10px;
   /* border-radius: 5px; */
   color:#d30b0b;
   font-size: 10px;
 }

.category {
  display:block;
  position: relative;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 34px;
  width: 280px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  cursor: pointer;
  color: #000000;
}
.category > select {
  /* position: relative; */
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  width: inherit;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  /* opacity: 50%; */
  cursor: pointer;
}
.category > select > option:first-child {
  display: none;
}
.category > select > option {
  /* position: absolute; */
  font-size: 10px;
  width: inherit;
  height: 352px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  height: 44px;
font-family: Circe;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;
color: #000000;
cursor: pointer;
}

.option:hover,
.option :focus {
  color:#FF6596;
  background-color: #fff;
}

.input{
  height: 34px;
  width: 280px;
  margin-top: 40px;
  padding-left: 25px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
}
.input:focus + .formLabel,
.comment:focus + .formLabel,
.input:not(:placeholder-shown) + .formLabel,
.comment:not(:placeholder-shown) + .formLabel {
  transform: translateY(-200%);
}
.comment{
  height: 74px;
  width: 280px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  padding-left: 25px;

}
/* .formLabel {
  position: absolute;
  top:50%;
  left: 30px;
  transform: translateY(-50%);

} */
.addBtn {
width: 300px;
height: 50px;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
background: #24CCA7;
border: none;
border-radius: 20px;
}
.CancelBtn{
  width: 300px ;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
border: 1px solid #4A56E2;
box-sizing: border-box;
border-radius: 20px;
}

@media screen and (min-width: 767px){
  .formWraper{
    width: 540px;
    /* height: 540px; */
  }
  .hText{
    font-size: 30px;
    line-height: 45px;
  }
  .inputGroup{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
  .category{
  height: 34px;
  width: 410px;
  }
  .input{
  height: 34px;
  width: 190px;
}
  .comment{
  height: 34px;
  width: 410px;
}
}