.formWraper{
  width: 320px;
  /* height: 600px; */
  display: flex;
flex-flow: column;
margin-left: auto;
margin-right: auto;

}

.header{
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

}
.hText {
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}
.inputGroup{
  display: flex;
  flex-direction: column;
}
.formField{
  position: relative;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.category {
  display:block;
  /* display:none; */
  /* outline: 1px solid tomato; */
}
.select{
  position: relative;
  /* margin-top: 40px; */
  margin-left: auto;
  margin-right: auto;
  height: 34px;
  width: 280px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
}

.input{
  height: 34px;
  width: 280px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
}
.input:focus + .formLabel,
.comment:focus + .formLabel,
.input:not(:placeholder-shown) + .formLabel,
.comment:not(:placeholder-shown) + .formLabel {
  transform: translateY(-200%);
}
.comment{
  height: 74px;
  width: 280px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
}
.formLabel {
  position: absolute;
  top:50%;
  left: 30px;
  transform: translateY(-50%);

}
.addBtn {
width: 300px;
height: 50px;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
background: #24CCA7;
border: none;
border-radius: 20px;
}
.CancelBtn{
  width: 300px ;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
border: 1px solid #4A56E2;
box-sizing: border-box;
border-radius: 20px;
}

@media screen and (min-width: 767px){
  .formWraper{
    width: 540px;
    /* height: 540px; */
  }
  .hText{
    font-size: 30px;
    line-height: 45px;
  }
  .inputGroup{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
  .select{
  height: 34px;
  width: 410px;
  }
  .input{
  height: 34px;
  width: 190px;
}
  .comment{
  height: 34px;
  width: 410px;
}
}