@import '../../stylesheet/fonts.css';

.error {
  color: red;
  font-size: 15px;
}
.formWrapper{
  width: 320px;
  /* height: 617px; */
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 65px 20px;

}
.onClose{
  position: absolute;
  top: 21px;
  right: 15px;
  width: 16px;
  height: 16px;
  border: none;
  background-image: url("../../img/close.png");
}
.header{
  display: flex;
  align-items: center;
  /* margin-top: 40px; */
  margin-left: auto;
  margin-right: auto;

}
.hText {
font-family: 'Poppins';
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
letter-spacing: 1,5px;
}

.inputGroup{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.inputWrapper{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.requiredGroup{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
/* The switch - the box around the slider */
.switchWrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  width: 220px;

}
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  border: 1px solid #E0E0E0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  /* left: 4px; */
  /* bottom: 2px; */
  border-radius: 50%;
  background-color:#24CCA7;
  background-image: url("../../img/plus.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* -webkit-transition: .4s;
  transition: .4s; */
}

.sliderInput{
  appearance: none;
}

.sliderInput:checked + .slider:before {
  transform: translateX(40px);
  background-color: #FF6596;
  background-image: url("../../img/minus.png");
}


.income {
  color:#24CCA7;
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.cost {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #E0E0E0;
}

.reactDatepickerWrapper {
  width: 280px ;
}
.categoryWrapper{
  position: relative;
}
.category {
  display:block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 34px;
  width: 280px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
}

.formField{
  /* position: relative; */
  margin-top: 40px; 
  margin-left: auto; 
   margin-right: auto;
}
.selectLabel {
  margin-top: 40px;
  color:#BDBDBD;
  position: absolute;
  bottom: -22px;
  left:0%;
}
.picerWrapper{
   position: relative;
}
.select{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 34px;
  width: 280px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
}
.select:focus {
  outline: none;
}
.input{
  height: 34px;
  width: 280px;
  padding-left: 20px;
 font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
}
.datepicker {
  height: 34px;
  width: 280px;
  padding-left: 20px;
  border: none;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #E0E0E0;
  background-image: url('../../img/calendar.svg');
  background-repeat:no-repeat;
  background-position: right; 

}

.datepicker:focus {
  outline: none;
}

/* .datepicker-wrapper {
  display: block;
} */
.comment{
  height: 74px;
  width: 280px;
  resize: none;
  padding-left: 20px;
  margin-top: 40px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #BDBDBD;
}
.formLabel {
  position: absolute;
  top:50%;
  left: 30px;
  transform: translateY(-50%);

}
.addBtn {
width: 280px;
height: 50px;
padding: 0px;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
background: #24CCA7;
border: none;
border-radius: 20px;
font-family: Circe;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
}
.CancelBtn{
  width: 280px ;
  height: 50px;
  padding: 0px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
border: 1px solid #4A56E2;
box-sizing: border-box;
border-radius: 20px;
font-family: Circe;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #4A56E2;
}

@media screen and (min-width: 767px){
  .formWrapper{
    width: 540px;
    padding: 40px 40px 60px 40px;
  }

  .hText{
    font-size: 30px;
    line-height: 45px;
  }
  .inputWrapper{
  display: flex;
  flex-direction: column;
  width: 410px;
  margin-left: auto;
  margin-right: auto;
}
  .inputGroup{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  }

  .requiredGroup{
  flex-direction: row;
  flex-wrap: wrap;
  }
  .formField {
  width: 410px;
  }
  .select{
    width: 100%;
  }
  
  
  .category{
  height: 34px;
  width: 410px;
  position: relative;
  }
  .input{
  height: 34px;
  width: 190px;
  }
  .reactDatepickerWrapper {
  width: 190px;
  }
  .comment{
  height: 34px;
  width: 410px;
  display: block;
  }
  .datepicker {
  width: 190px;
}
}